torch==2.1.0
torchvision==0.16.0
terratorch @ git+https://github.com/IBM/terratorch.git@6d97521
lightning-utilities==0.11.3.post
albumentations==1.4.3
huggingface_hub
jupyter
matplotlib
imagecodecs
global_land_mask
numpy<2
GDAL==3.6.4
imageio==2.37.0
imageio-ffmpeg==0.6.0